
body, html {
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.nav-item {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ff9800;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
	color: #ef6c00;
	border-bottom: 2px solid #ef6c00;
}

.navbar .fa-user {
	padding-right: 10px;
	color: #ef6c00;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
	  border: none;
	  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.cabecalho {
	height: 205px;
	padding-top:20px;
	margin-top: 55px;
}

.logo {
	text-indent:-99999px;
	background-image:url(../img/logo-focosp.png);
	width: 195px;
	height: 165px;
	background-repeat: no-repeat;
}

.logo-rodape {
	text-indent:-99999px;
	background-image:url(../img/logo-focosp-rodape.png);
	width: 135px;
	height: 139px;
	background-repeat: no-repeat;
}


.banner {
	height: 390px;
	background-image:url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.secao {
	padding-top: 85px;
	height: 100%;
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.titulo {
	text-align: center;
	color: #ef6c00;	
	font-weight: bold;
	font-size: 40px;
}

.divisao-titulo-secao {
	border: 3px solid #ef6c00;
	width: 190px;
	margin-top: 0;
}

.parallax {
	/* filter: blur(5px); */
	/* z-index: -2; */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.parallax1 {
	background-image: url(../img/img_parallax.jpeg);
}

.parallax2 {
	background-image: url(../img/img_parallax.gif);
}

.parallax3 {
	background-image: url(../img/img_parallax_2.jpeg);
}

.parallax4 {
	background-image: url(../img/img_parallax_3.jpg);
}

.subtitulo {
	text-align: center;
	color: #333;
	font-weight: bold;
}

.accordion {
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel {
	padding: 0 18px;
	background-color: #fff;
	display: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.forma-contato {
	color: #777;
	text-decoration: underline;
	font-weight: bold;
}

#everest-btn-external-chat {
	float: right;
	position: fixed;
	right: 50px;
	bottom: 0;
	padding: 5px;
	background: #195C1D;
	color: #ffffff;
	width: 150px;
	font-size: 14pt;
	border: 1px solid #2E7D32;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	transition-duration: .5s;
}

#everest-btn-external-chat:hover {
	background: #2E7D32;
	border-color: #195C1D;
	transition-duration: .5s;
}

@media only screen and (max-width: 790px), screen and (max-height: 640px) {
	.secao {
		height: auto;
	}
}
