
body, html {
	height: 100%;
	overflow-x: hidden;
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}
	

.nav-item {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ff9800;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
	color: #ef6c00;
	border-bottom: 2px solid #ef6c00;
}

.navbar .fa-user {
	padding-right: 10px;
	color: #ef6c00;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
	  border: none;
	  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.font-size-20 {
    font-size:20px;
}
.font-size-25 {
    font-size:25px;
}
.font-size-30 {
    font-size:30px;
}
.font-size-40 {
	font-size:40px;
}

.margin-right-0 {
	margin-right: 0;
}

.margin-top-10 {
	margin-top: 10px;
}

.padding-right-0 {
	padding-right: 0;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.separador-esquerda {
	height:20px; 
	background-color:#333333
}

.separador-direita {
	height:20px; 
	background-color:#ef6c00;
}

.text-underline {
	text-decoration: underline;
}

.logo {
	text-indent:-99999px;
	background-image:url(../img/logo-focosp.png);
	width: 195px;
	height: 165px;
	background-repeat: no-repeat;
}

.logo-foco-header {
	margin-right:100px;
}

#cabecalho {
	padding: 70px 0px 10px 0px;
}

#rodape {
	padding-top:10px;
}

#rodape .logo {
	background-image:url(../img/logo-focosp-rodape.png);
	width: 135px;
	height: 139px;
}

.footer-cartoes {
	background-color: #111;
}

.footer-cartoes .row {
	padding:0; 
	margin:0;
}

.footer-cartoes .col-md-6 {
	height:58px
}

.footer-cartoes img {
	width: 368px
}

.footer-cartoes .text-copyright {
	line-height: 58px; 
	margin-bottom:0;
}
 
.secao {
	padding-top: 30px;
	height: auto;
}

.titulo {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #ef6c00;
}

.divisao-titulo-secao {
	border: 3px solid #ef6c00;
	width: 190px;
	margin: 0 auto 40px auto;
}

.subtitulo {
text-align: center;
color: #333;
font-weight: bold;
}

.field-required {
	color: red;
}